Package: com.tomaszpoliszuk.flipswitchcolorfiltercolortint
Depends: firmware (>= 11.0), mobilesubstrate, com.a3tweaks.flipswitch
Name: Flipswitch - Color Filter Color Tint
Version: 1.0
Architecture: iphoneos-arm
Description: Flipswitch toggle for Color Filter Color Tint
Author: Tomasz Poliszuk
Section: Addons (Flipswitch)
dev: tomaszpoliszuk
